.newsBlogListMain {
    
    padding: 0 1.6rem;
    border-radius: 3rem;
    margin-right: auto;
    margin-left: auto;
    @include respond(large-desktop) {
        max-width: 150rem;
    }
    &_container {
        margin-left: auto;
        margin-right: auto;
        .section {
            width: 100%;
            @include respond(large-desktop) {
                width: calc(42% - 3rem);
            }
        }
        .aside {
            width: 100%;
            @include respond(large-desktop) {
                width: 42%;
            }
        }
    }
    button {
        margin-top: 4rem;
        margin-bottom: 12.8rem;
    }
}
