.card_review {
  &--header {
    .user_info {
      img {
        @include box(5rem, 5rem);
        object-fit: cover;
        border-radius: 50%;
      }
      .name {
        @include text(1.6rem, 700, $black);
      }
      .date {
        @include text(1.4rem, 400, $grey-600);
      }
    }
  }
  &--container{
    margin-top: 1rem;
    @include text(1.6rem, 400, $grey-800);
  }
}
