.input_quantity {
  @include text(1.6rem, 400, $black);
  min-width: 14rem;
  width: 100%;
  background-color: $grey-450;
  padding: 1.2rem 0.8rem;
  border-radius: 9999px;
  &--sm {
    width: 10rem !important;
    min-width: 10rem;
    padding: 0.4rem;
    input {
      min-width: 2rem !important;
    }
    button {
      width: 2rem;
      svg{
        padding: 0.2rem 0.4rem;
      }
    }
  }
  input {
    background-color: $grey-450;
    text-align: center;
    min-width: 3rem;
    width: 100%;
    outline: none;
  }
  button:hover {
    background-color: $grey-400;
    transition: 0.3s ease-in;
    border: 1px solid $grey-700;
  }
}
