.modal_product {
    visibility: hidden;
    opacity: 0;
    animation: open-animate 0.5s ease-in;
    transition: all 0.2s linear;
    width: 0;
    &.open {
        visibility: visible;
        opacity: 1;
        @include text(2.6rem, 400, $grey-650);
    }
    &_overlay {
        @include position(absolute, 0, 0, 0, 0);
        @include box(100%, 100%);
        background-color: rgba(0, 0, 0, 0.4);
    }
    &_body {
        .close_modal {
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 1.6rem;
            svg {
                font-size: 2rem;
            }
        }
        @include respond(large-desktop) {
            max-width: 102.4rem;
            max-height: 100%;
            height: 87.1rem;
        }
        @include position(fixed);
        transform: translate(-50%, -50%);
        @include box(100%, 100%);
        width: 95%;
        height: 95%;
        top: 50%;
        left: 50%;
        border-radius: 1.6rem;
        padding: 3.2rem;
        z-index: 1;
        background-color: $white;
    }
}
@keyframes open-animate {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}
@keyframes close-animate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
