.textfield {
  display: flex;
  flex-direction: column;
  &_title {
    @include text(1.6rem, 600, $black);
    margin-bottom: 1rem;
  }
  input {
    outline: none;
    min-height: 4rem;
    padding: 1.2rem 3rem 1.2rem 1.6rem;
    border-radius: 1.6rem;
    border: 1px solid $grey-650;
  }
  &_basic {
    input {
      @include text(1.6rem, 400, $grey-700);
      &:focus {
        border: 2px solid $blue-650;
        box-shadow: 1px 1px 1px 1px $blue-500;
        transition: 0.1s ease-in;
      }
    }
  }
  &_error {
    input {
      box-shadow: 1px 1px 1px 1px $red;
      @include text(1.6rem, 400, $red);
      &:focus {
        box-shadow: 1px 1px 1px 1px $red;
      }
    }
    &--message {
      margin-top: 1rem;
      margin-left: 0.5rem;
      color: $red;
      @include text(1.6rem, 400, $red);
    }
  }
}
