.MuiSnackbarContent-root {
    background-color: $white !important;
    .MuiSnackbarContent-message {
        background-color: $white !important;
        @include text(2rem, 500, $black);
        width: 100%;
    }
}
.notistack-Snackbar div {
    font-size: 1.6rem;
}
