.collection_layout{
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.6rem 12.8rem 1.6rem;
    @include respond(large-mobile) {
        max-width: 64rem;
    }
    @include respond(tablet) {
        max-width: 76.8rem;
    }
    @include respond(desktop) {
        max-width: 102.4rem;
    }
    @include respond(large-desktop) {
        max-width: 128rem;
        padding: 0 4rem 12.8rem 4rem;
    }
}