header {
    background-color: $white;
    width: 100%;
    height: 7.2rem;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 10;

    .contain_header {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 1.6rem 0 1.6rem;
        @include respond(large-mobile) {
            max-width: 64rem;
        }
        @include respond(tablet) {
            max-width: 76.8rem;
        }
        @include respond(desktop) {
            max-width: 102.4rem;
        }
        @include respond(large-desktop) {
            max-width: 128rem;
            padding: 0 4rem 0 4rem;
            height: 8rem;
        }
        .logo {
            width: 13.3rem;
        }
        .menu_mobile {
            button {
                @include box(2.8rem, 2.8rem);
                padding: 0;
                svg {
                    font-size: 2.8rem;
                    font-weight: bold;
                }
            }
            @include respond(desktop) {
                display: none;
            }
        }
        #desk_search {
            visibility: hidden;

            @include respond(desktop) {
                visibility: visible;
                
            }
        }
        .navbar {
            display: none;
            @include text(2.5rem, 500, $grey-800);
            @include respond(desktop) {
                display: block;
                margin: 0 1.6rem;
                a {
                    padding: 0 1.6rem;
                    &:hover {
                        border-radius: 9999px;
                        background-color: $grey-400;
                        transition: 0.2s ease-in;
                    }
                }
            }
        }
        .control_header {
            &--item {
                width: 4.5rem;
                height: 4.5rem;
                border: none;
                svg {
                    font-size: 40px;
                }
                &:hover {
                    background-color: $grey-450;
                    transition: 0.2s ease-in;
                }
            }
        }
    }
}
.header_main_mobile {
    p {
        @include text(1.4rem, 400, $grey-800);
    }
    .search_mobile {
        padding: 3rem;
        border-bottom: 1px solid $grey-450;
    }
    .navbar_mobile {
        padding: 2.4rem 0.8rem;
        border-bottom: 1px solid $grey-450;
        a {
            padding: 1rem 1.6rem;
            @include text(1.6rem, 500, $grey-800);
        }
    }
}
