.contact_page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.8rem;
  padding: 0 1.6rem 0 1.6rem;
  @include respond(large-mobile) {
    max-width: 64rem;
  }
  @include respond(tablet) {
    max-width: 76.8rem;
  }
  @include respond(desktop) {
    max-width: 102.4rem;
  }
  @include respond(large-desktop) {
    max-width: 128rem;
    padding: 0 4rem 12.8rem 4rem;
  }
  h1 {
    text-align: center;
    @include text(4rem, 600, $black);
  }
  &--aside {
    p {
        margin-bottom: 2rem;
      span {
        @include text(1.6rem, 600, $black);
        display: block;
        margin-bottom: 1rem;
      }
      margin-top: 1rem;
      @include text(1.6rem, 400, $grey-650);
    }
    width: 100%;
    @include respond(desktop) {
      width: calc(45% - 3rem);
    }
  }
  &--form {
    width: 100%;
    @include respond(desktop) {
      width: calc(45% - 3rem);
    }
    button{
        font-size: 1.6rem;
    }
  }
}
