@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,400;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./mixins";

//UI Components
@import "./UI/index.scss";
@import "./Shared/index.scss";

//Page
@import "CollectionPage/index";
@import "AccountPage/index";
@import "Home/index";
@import "BlogPage/index.scss";
@import "CartPage/index.scss";
@import "ProductDetailPage/index.scss";
@import "aboutpage";
@import "contactpage";
@import "CheckoutPage/index.scss";
@import "Auth/index.scss";
.MuiFormControl-root {
  label {
    @include text(1.8rem, 600, $black);
  }
  .MuiTypography-root {
    @include text(1.6rem, 400, $grey-800);
  }
  margin-left: 1rem;
}
