.change_password {
    padding: 5.6rem 0 12.8rem;
    max-width: 76.8rem;
    @include respond(tablet) {
        margin: 0 15.2rem;
    }
    h1 {
        @include text(2.4rem, 600, $black);
        @include respond(large-mobile) {
            font-size: 3rem;
        }
    }
    button {
        margin-top: 2rem;
        padding: 1.4rem 2.4rem;
    }
}
