.review_product {
  border-top: 2px solid $grey-450;
  padding-top: 5rem;
  margin-top: 5rem;
  &--title {
    @include text(3rem, 600, $black);
  }
  &--main {
    margin-top: 5rem;
  }
  .setup_card {
    @include respond(desktop) {
      width: calc(50% - 3rem);
    }
  }
  button{
    font-size: 1.8rem;
    color: $grey-800;
  }
}
