.cart_list_product {
  width: 100%;
  overflow-y: auto;
  height: 40rem;
  padding-right: 1rem;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $grey-450;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $grey-500;
    border-radius: 20px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $grey-600;
    border-radius: 20px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $grey-600;
  }
 
}
