.cart_page {
  margin-bottom: 12.8rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.6rem 12.8rem 1.6rem;
  @include respond(large-mobile) {
    max-width: 64rem;
  }
  @include respond(tablet) {
    max-width: 76.8rem;
  }
  @include respond(desktop) {
    max-width: 102.4rem;
  }
  @include respond(large-desktop) {
    max-width: 128rem;
    padding: 6.8rem 4rem 6rem 4rem;
  }
  h1 {
    @include text(3.5rem, 600, $black);
    margin-bottom: 4rem;
  }
  .cart_list_responsive {
    @include respond(large-desktop) {
      height: 60rem;
      width: calc(65% - 5rem);
      padding-right: 5rem;
      border-right: 2px solid $grey-400;
    }
  }
}
