.payment {
  width: 100%;
  h1 {
    @include text(2rem, 600, $black);
    margin-bottom: 2rem;
  }
  &_detail {
    &--items {
      padding-bottom: 2rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid $grey-400;
      @include text(1.8rem, 400, $grey-600);
      span {
        @include text(1.8rem, 700, $black);
      }
    }
  }
}
